
.single-topbar {
  margin-top: 15px;
}
.single-content {
  margin: 30px 0;
  
}
.single-content .site-main{
  display: flex;
  justify-content: space-between;
}
.site-main .product-review ul i {
  color: gold;
  font-size: 12px;
}
.site-main .product-review span {
  font-weight: 600;
  font-size: 12px;
}
.site-main .product-price {
  display: flex;
  align-items: center;
  column-gap: 8px;
}
.site-main .product-price s {
  font-size: 18px;
  color: #dee0ea;
}
.site-main .product-price strong {
  font-size: 20px;
}
.site-main .product-description {
  font-size: 14px;
  line-height: 1.4;
  margin: 15px 0;
}
.site-main .cart-button {
  display: flex;
  column-gap: 10px;
}
.site-main .cart-button input {
  width: 80px;
}
.site-main .cart-button button {
  width: 100%;
}
.site-main .product-extra-buttons {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-top: 20px;
}
.site-main .product-extra-buttons a {
  font-size: 12px;
  color: gray;
}
.site-main .divider {
  padding-bottom: 20px;
  border-bottom: 1px solid #dee0ea;
}

.site-main .product-meta {
  display: flex;
  flex-direction: column;
  row-gap: 6px;
  margin-top: 20px;
  font-size: 13px;
}